DATABASE_URL="postgresql://user:password@localhost:5432/neowatch"
TMDB_API_KEY="your_tmdb_api_key_v3"
TMDB_ACCESS_TOKEN="your_tmdb_access_token_v4"
NEO_ID_URL="https://id.neome.uk"
NEO_ID_CLIENT_ID="neowatch"
NEO_ID_CLIENT_SECRET="from_neo_id_service"
PORT="3000"
PUBLIC_API_URL="http://localhost:3000"
NEO_ID_REDIRECT_URI="https://neome.uk/api/v1/auth/callback"
REDAPI_URL="https://redapi.com/api"
ALLOHA_TOKEN=""
COLLAPS_TOKEN=""
CDN_TOKEN=""
CDN_PL=""
CRON_SECRET="generate_a_random_secret"
