openapi: 3.1.0
info:
  title: NeoMovies API v2
  version: 2.0.0
  description: |
    NeoMovies API v2 — Rust serverless API on Vercel.
    Includes Neo ID authentication, Kinopoisk-based media/search, player HTML endpoints,
    favorites, watch later, torrents, image proxy, and genres.

servers:
  - url: https://api.neome.uk
    description: Production

tags:
  - name: System
  - name: Auth
  - name: Webhooks
  - name: Search
  - name: Media
  - name: Images
  - name: Players
  - name: Torrents
  - name: Favorites
  - name: WatchLater
  - name: Support

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PageQuery:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    KpIdPath:
      name: kp_id
      in: path
      required: true
      schema:
        type: string
      description: Kinopoisk ID. Accepts `326` or `kp_326` depending on endpoint.
    MediaTypeQuery:
      name: type
      in: query
      required: false
      schema:
        type: string
        enum: [movie, tv]
        default: movie

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string

    SuccessEnvelope:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
          example: true
        data: {}

    TokenPair:
      type: object
      required: [accessToken, refreshToken]
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string

    Genre:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
        name:
          type: string

    ExternalIds:
      type: object
      required: [kp, tmdb, imdb]
      properties:
        kp:
          type: integer
          nullable: true
        tmdb:
          type: integer
          nullable: true
        imdb:
          type: string
          nullable: true

    Ratings:
      type: object
      required: [kp, imdb, tmdb]
      properties:
        kp:
          type: number
          format: float
        imdb:
          type: number
          format: float
          nullable: true
        tmdb:
          type: number
          format: float
          nullable: true

    SearchResultItem:
      type: object
      required:
        - id
        - title
        - originalTitle
        - rating
        - posterUrl
        - genres
        - description
        - type
        - externalIds
      properties:
        id:
          type: string
          example: kp_326
        title:
          type: string
        originalTitle:
          type: string
        year:
          type: integer
          nullable: true
        rating:
          type: number
          format: float
        ratings:
          $ref: "#/components/schemas/Ratings"
        posterUrl:
          type: string
          example: /api/v1/images/kp_small/326
        genres:
          type: array
          items:
            $ref: "#/components/schemas/Genre"
        description:
          type: string
        type:
          type: string
          enum: [movie, tv]
        externalIds:
          $ref: "#/components/schemas/ExternalIds"

    SearchResponse:
      type: object
      required: [results, total, pages]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/SearchResultItem"
        total:
          type: integer
        pages:
          type: integer

    MediaDetails:
      type: object
      required:
        - id
        - sourceId
        - title
        - originalTitle
        - description
        - releaseDate
        - type
        - genres
        - rating
        - posterUrl
        - backdropUrl
        - duration
        - country
        - language
        - externalIds
      properties:
        id:
          type: string
          example: kp_326
        sourceId:
          type: string
          example: kp_326
        title:
          type: string
        originalTitle:
          type: string
        description:
          type: string
        releaseDate:
          type: string
          example: "1999-01-01"
        type:
          type: string
          enum: [movie, tv]
        genres:
          type: array
          items:
            $ref: "#/components/schemas/Genre"
        rating:
          type: number
          format: float
        ratings:
          $ref: "#/components/schemas/Ratings"
        posterUrl:
          type: string
          example: /api/v1/images/kp_small/326
        backdropUrl:
          type: string
          example: /api/v1/images/kp_big/326
        duration:
          type: integer
        country:
          type: string
        language:
          type: string
        externalIds:
          $ref: "#/components/schemas/ExternalIds"

    # ── V2 schemas ──────────────────────────────────────────────────────────────

    MediaDetailsV2:
      type: object
      required:
        - id
        - title
        - originalTitle
        - description
        - type
        - genres
        - countries
        - duration
        - poster
        - backdrop
        - ratings
        - ids
      properties:
        id:
          type: string
          example: kp_326
        title:
          type: string
        originalTitle:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [movie, tv]
        year:
          type: integer
          nullable: true
        releaseDate:
          type: string
          nullable: true
          example: "2014-11-07"
        genres:
          type: array
          items:
            type: string
          example: ["драма", "фантастика"]
        countries:
          type: array
          items:
            type: string
          example: ["США", "Великобритания"]
        duration:
          type: integer
        poster:
          type: string
          example: /api/v1/images/kp_small/326
        backdrop:
          type: string
          example: /api/v1/images/kp_big/326
        ratings:
          type: object
          required: [kp, imdb, tmdb]
          properties:
            kp:
              type: number
              format: float
            imdb:
              type: number
              format: float
              nullable: true
            tmdb:
              type: number
              format: float
              nullable: true
        ids:
          type: object
          required: [kp, imdb, tmdb]
          properties:
            kp:
              type: integer
            imdb:
              type: string
              nullable: true
            tmdb:
              type: integer
              nullable: true

    V2SearchResultItem:
      type: object
      required:
        - id
        - title
        - originalTitle
        - posterUrl
        - genres
        - description
        - type
        - externalIds
      properties:
        id:
          type: string
          example: kp_326
        title:
          type: string
        originalTitle:
          type: string
        year:
          type: integer
          nullable: true
        ratings:
          $ref: "#/components/schemas/Ratings"
        posterUrl:
          type: string
          example: /api/v1/images/kp_small/326
        genres:
          type: array
          items:
            $ref: "#/components/schemas/Genre"
        description:
          type: string
        type:
          type: string
          enum: [movie, tv]
        externalIds:
          $ref: "#/components/schemas/ExternalIds"

    V2SearchResponse:
      type: object
      required: [results, total, pages]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/V2SearchResultItem"
        total:
          type: integer
        pages:
          type: integer

    GenreCatalogItem:
      type: object
      required: [id, name]
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: триллер

    WatchLaterItem:
      type: object
      required: [id, mediaId, mediaType, title, posterUrl, createdAt]
      properties:
        id:
          type: string
        mediaId:
          type: string
        mediaType:
          type: string
          enum: [movie, tv]
        title:
          type: string
        posterUrl:
          type: string
        rating:
          type: number
          nullable: true
        year:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time

    # ── V1 schemas (legacy) ─────────────────────────────────────────────────────

    Profile:
      type: object
      required: [id, neo_id, email, name, avatar, is_admin, created_at, updated_at]
      properties:
        id:
          type: string
        neo_id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        avatar:
          type: string
        is_admin:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Favorite:
      type: object
      required: [id, mediaId, mediaType, title, posterUrl, createdAt]
      properties:
        id:
          type: string
        mediaId:
          type: string
        mediaType:
          type: string
          enum: [movie, tv]
        title:
          type: string
        posterUrl:
          type: string
        rating:
          type: number
          nullable: true
        year:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time

    TorrentResult:
      type: object
      properties:
        tracker:
          type: string
        url:
          type: string
        title:
          type: string
        size:
          type: integer
        sizeName:
          type: string
        createTime:
          type: string
        sid:
          type: integer
        pir:
          type: integer
        magnet:
          type: string
        name:
          type: string
        originalName:
          type: string
        released:
          type: integer
        videoType:
          type: string
        quality:
          type: integer

    TorrentSearchResponse:
      type: object
      required: [results, total]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/TorrentResult"
        total:
          type: integer

    SyncProgressItem:
      type: object
      required: [mediaId, mediaType, progress, duration, status, updatedAt, createdAt]
      properties:
        mediaId:
          type: string
          example: kp_258687
        mediaType:
          type: string
          enum: [movie, tv]
        season:
          type: integer
          nullable: true
        episode:
          type: integer
          nullable: true
        progress:
          type: number
          format: float
          description: Seconds into the video
        duration:
          type: number
          format: float
          description: Total duration in seconds
        status:
          type: string
          enum: [watching, completed, paused, dropped]
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    Supporter:
      type: object
      required: [id, name, type, year, isActive]
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: string
          enum: [service, code, donation]
        description:
          type: string
        contributions:
          type: array
          items:
            type: string
        year:
          type: integer
        isActive:
          type: boolean

paths:
  # ── System ────────────────────────────────────────────────────────────────────
  /api/v1/health:
    get:
      tags: [System]
      summary: Health check
      operationId: getHealth
      responses:
        "200":
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  # ── Support ──────────────────────────────────────────────────────────────────
  /api/v1/support/list:
    get:
      tags: [Support]
      summary: List project supporters
      operationId: getSupporters
      responses:
        "200":
          description: Supporters list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Supporter"

  # ── Search (v1) ──────────────────────────────────────────────────────────────
  /api/v1/search:
    get:
      tags: [Search]
      summary: Search media by keyword (v1)
      operationId: searchMedia
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/PageQuery"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SearchResponse"
        "400":
          description: Missing query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream search error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Search (v2) ──────────────────────────────────────────────────────────────
  /api/v2/search:
    get:
      tags: [Search]
      summary: Search media with filters (v2)
      operationId: searchMediaV2
      parameters:
        - name: keyword
          in: query
          required: false
          schema:
            type: string
          description: Search keyword
        - name: genre
          in: query
          required: false
          schema:
            type: string
          description: Genre ID (e.g. "1")
        - name: yearFrom
          in: query
          required: false
          schema:
            type: integer
        - name: yearTo
          in: query
          required: false
          schema:
            type: integer
        - name: ratingFrom
          in: query
          required: false
          schema:
            type: number
            format: float
        - name: ratingTo
          in: query
          required: false
          schema:
            type: number
            format: float
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [FILM, TV_SERIES, TV_SHOW, MINI_SERIES, ALL]
          description: Media type filter
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum: [RATING, YEAR, NUM_VOTE, RATING_KO]
          description: Sort order
        - name: country
          in: query
          required: false
          schema:
            type: string
          description: Country ID
        - $ref: "#/components/parameters/PageQuery"
      responses:
        "200":
          description: Filtered search results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/V2SearchResponse"
        "502":
          description: Upstream search error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Media ────────────────────────────────────────────────────────────────────
  /api/v1/movies/popular:
    get:
      tags: [Media]
      summary: Popular titles
      operationId: getPopular
      parameters:
        - $ref: "#/components/parameters/PageQuery"
      responses:
        "200":
          description: Popular list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SearchResponse"

  /api/v1/movies/top-rated:
    get:
      tags: [Media]
      summary: Top-rated titles
      operationId: getTopRated
      parameters:
        - $ref: "#/components/parameters/PageQuery"
      responses:
        "200":
          description: Top-rated list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SearchResponse"

  /api/v1/tv/top-rated:
    get:
      tags: [Media]
      summary: Top-rated TV series
      operationId: getTopRatedTv
      parameters:
        - $ref: "#/components/parameters/PageQuery"
      responses:
        "200":
          description: Top-rated TV list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SearchResponse"

  /api/v1/movie/{kp_id}:
    get:
      tags: [Media]
      summary: Get media details by Kinopoisk ID (v1)
      operationId: getMovieByKpId
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
      responses:
        "200":
          description: Media details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MediaDetails"
        "400":
          description: Invalid kp_id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Media not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v2/movie/{kp_id}:
    get:
      tags: [Media]
      summary: Get media details by Kinopoisk ID (v2, cleaner response)
      operationId: getMovieByKpIdV2
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
      responses:
        "200":
          description: Media details (v2 format)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MediaDetailsV2"
        "400":
          description: Invalid kp_id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Media not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/tv/{kp_id}/season/{season}/episode/{episode}:
    get:
      tags: [Media]
      summary: Get TV episode description by Kinopoisk ID
      operationId: getTvEpisodeDescription
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - name: season
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: episode
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: language
          in: query
          required: false
          schema:
            type: string
            enum: [ru-RU, ru, en-US, en]
            default: ru-RU
      responses:
        "200":
          description: Episode description
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [id, name, overview, airDate, seasonNumber, episodeNumber, language, ratings]
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          overview:
                            type: string
                          airDate:
                            type: string
                          seasonNumber:
                            type: integer
                          episodeNumber:
                            type: integer
                          stillPath:
                            type: string
                            nullable: true
                          language:
                            type: string
                          ratings:
                            type: object
                            required: [tmdb, imdb]
                            properties:
                              tmdb:
                                type: number
                                format: float
                                nullable: true
                              imdb:
                                type: number
                                format: float
                                nullable: true
        "400":
          description: Invalid kp_id, season, episode, or media type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Media or episode not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Genres ────────────────────────────────────────────────────────────────────
  /api/v1/genres:
    get:
      tags: [Media]
      summary: List all available genres
      operationId: getGenreList
      responses:
        "200":
          description: Genre list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/GenreCatalogItem"

  /api/v1/category/{genre_id}:
    get:
      tags: [Media]
      summary: Get films by genre
      operationId: getFilmsByGenre
      parameters:
        - name: genre_id
          in: path
          required: true
          schema:
            type: integer
          description: Genre ID from /genres
        - name: films
          in: query
          required: false
          schema:
            type: string
          description: Pass `films` to filter only movies
        - name: tv
          in: query
          required: false
          schema:
            type: string
          description: Pass `tv` to filter only TV series
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum: [RATING, YEAR, NUM_VOTE]
          description: Sort order
        - $ref: "#/components/parameters/PageQuery"
      responses:
        "200":
          description: Films by genre
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/V2SearchResponse"
        "502":
          description: Upstream error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Images ────────────────────────────────────────────────────────────────────
  /api/v1/images/proxy:
    get:
      tags: [Images]
      summary: Proxy external image by URL
      operationId: proxyImage
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
            format: uri
      responses:
        "200":
          description: Image bytes
          content:
            image/jpeg: {}
            image/png: {}
        "400":
          description: Invalid URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream image error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/images/{kind}/{id}:
    get:
      tags: [Images]
      summary: Proxy Kinopoisk poster by kind/id
      operationId: getKpImage
      parameters:
        - name: kind
          in: path
          required: true
          schema:
            type: string
            enum: [kp, kp_small, kp_big]
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Image bytes
          content:
            image/jpeg: {}
        "400":
          description: Invalid image path
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/images/screens/{kp_id}:
    get:
      tags: [Images]
      summary: Resolve and proxy a screen or fallback backdrop by Kinopoisk ID
      operationId: getScreensByKpId
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - name: season
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: TV season number. Ignored for movies.
        - name: episode
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: TV episode number. Ignored for movies.
        - name: size
          in: query
          required: false
          schema:
            type: string
            enum: [small, medium, large, xlarge, w300, w500, w780, w1280, original]
            default: w780
      responses:
        "200":
          description: Image bytes
          content:
            image/jpeg: {}
            image/png: {}
        "400":
          description: Invalid kp_id, season, episode, or size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Title or image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream configuration or image provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/images/screens/{kp_id}/{season}/{episode}:
    get:
      tags: [Images]
      summary: Proxy a TV episode still by Kinopoisk ID, season, and episode
      operationId: getScreensByKpSeasonEpisode
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - name: season
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: episode
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: size
          in: query
          required: false
          schema:
            type: string
            enum: [small, medium, large, xlarge, w300, w500, w780, w1280, original]
            default: w780
      responses:
        "200":
          description: Image bytes
          content:
            image/jpeg: {}
            image/png: {}
        "400":
          description: Invalid kp_id, season, episode, or size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Title or image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream configuration or image provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/images/screens/{kp_id}/{season}/{episode}/{size}:
    get:
      tags: [Images]
      summary: Proxy a TV episode still by Kinopoisk ID with path-based size
      operationId: getScreensByKpSeasonEpisodeSize
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - name: season
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: episode
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
        - name: size
          in: path
          required: true
          schema:
            type: string
            enum: [small, medium, large, xlarge, w300, w500, w780, w1280, original]
      responses:
        "200":
          description: Image bytes
          content:
            image/jpeg: {}
            image/png: {}
        "400":
          description: Invalid kp_id, season, episode, or size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Title or image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream configuration or image provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/images/backdrops/{kp_id}:
    get:
      tags: [Images]
      summary: Proxy a backdrop by Kinopoisk ID
      operationId: getBackdropByKpId
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - name: size
          in: query
          required: false
          schema:
            type: string
            enum: [small, medium, large, xlarge, w300, w500, w780, w1280, original]
            default: w780
      responses:
        "200":
          description: Image bytes
          content:
            image/jpeg: {}
            image/png: {}
        "400":
          description: Invalid kp_id or size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Title or image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream configuration or image provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/images/backdrops/{kp_id}/{size}:
    get:
      tags: [Images]
      summary: Proxy a backdrop by Kinopoisk ID with path-based size
      operationId: getBackdropByKpIdSize
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - name: size
          in: path
          required: true
          schema:
            type: string
            enum: [small, medium, large, xlarge, w300, w500, w780, w1280, original]
      responses:
        "200":
          description: Image bytes
          content:
            image/jpeg: {}
            image/png: {}
        "400":
          description: Invalid kp_id or size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Title or image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream configuration or image provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/images/backdrops/page/{kp_id}:
    get:
      tags: [Images]
      summary: Proxy a page/backdrop hero image by Kinopoisk ID
      operationId: getPageBackdropByKpId
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - name: size
          in: query
          required: false
          schema:
            type: string
            enum: [small, medium, large, xlarge, w300, w500, w780, w1280, original]
            default: w780
      responses:
        "200":
          description: Image bytes
          content:
            image/jpeg: {}
            image/png: {}
        "400":
          description: Invalid kp_id or size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Title or image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream configuration or image provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/images/backdrops/page/{kp_id}/{size}:
    get:
      tags: [Images]
      summary: Proxy a page/backdrop hero image by Kinopoisk ID with path-based size
      operationId: getPageBackdropByKpIdSize
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - name: size
          in: path
          required: true
          schema:
            type: string
            enum: [small, medium, large, xlarge, w300, w500, w780, w1280, original]
      responses:
        "200":
          description: Image bytes
          content:
            image/jpeg: {}
            image/png: {}
        "400":
          description: Invalid kp_id or size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Title or image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream configuration or image provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/images/logos/{kp_id}:
    get:
      tags: [Images]
      summary: Proxy a localized logo by Kinopoisk ID
      operationId: getLogoByKpId
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - name: size
          in: query
          required: false
          schema:
            type: string
            enum: [small, medium, large, w300, w500, original]
            default: w500
      responses:
        "200":
          description: Image bytes
          content:
            image/png: {}
            image/jpeg: {}
        "400":
          description: Invalid kp_id or size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Title or image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream configuration or image provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/images/logos/{kp_id}/{size}:
    get:
      tags: [Images]
      summary: Proxy a localized logo by Kinopoisk ID with path-based size
      operationId: getLogoByKpIdSize
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - name: size
          in: path
          required: true
          schema:
            type: string
            enum: [small, medium, large, w300, w500, original]
      responses:
        "200":
          description: Image bytes
          content:
            image/png: {}
            image/jpeg: {}
        "400":
          description: Invalid kp_id or size
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Title or image not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream configuration or image provider error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Players ──────────────────────────────────────────────────────────────────
  /api/v1/players/{provider}/kp/{kp_id}:
    get:
      tags: [Players]
      summary: Get embedded player HTML
      operationId: getPlayerHtml
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [alloha, collaps, lumex, vibix, hdvb]
        - name: kp_id
          in: path
          required: true
          schema:
            type: integer
        - name: season
          in: query
          required: false
          schema:
            type: integer
        - name: episode
          in: query
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: HTML document with iframe
          content:
            text/html:
              schema:
                type: string
        "404":
          description: Video not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Provider not configured or internal error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Torrents ─────────────────────────────────────────────────────────────────
  /api/v1/torrents/search:
    get:
      tags: [Torrents]
      summary: Search torrents by Kinopoisk ID
      operationId: searchTorrents
      parameters:
        - name: kp_id
          in: query
          required: true
          schema:
            type: string
          description: Accepts `6750360` or `kp6750360`
        - name: season
          in: query
          required: false
          schema:
            type: integer
        - name: episode
          in: query
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Torrent results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/TorrentSearchResponse"
        "400":
          description: Missing or invalid kp_id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Torrent service unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Auth ──────────────────────────────────────────────────────────────────────
  /api/v1/auth/neo-id/login:
    post:
      tags: [Auth]
      summary: Request Neo ID login URL
      operationId: authLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [redirect_url, state]
              properties:
                redirect_url:
                  type: string
                  format: uri
                mobile_redirect_url:
                  type: string
                  description: Optional mobile deep link redirect (for example `neomovies://auth/neo-id/callback`)
                state:
                  type: string
                mode:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Login URL
          content:
            application/json:
              schema:
                type: object
                required: [login_url]
                properties:
                  login_url:
                    type: string
                    format: uri
        "400":
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Neo ID unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/auth/neo-id/callback:
    post:
      tags: [Auth]
      summary: Exchange Neo ID token for API tokens
      operationId: authCallback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [access_token]
              properties:
                access_token:
                  type: string
      responses:
        "200":
          description: Token pair
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenPair"
        "401":
          description: Invalid Neo ID token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/auth/neo-id/mobile-callback:
    get:
      tags: [Auth]
      summary: Mobile redirect trampoline for Neo ID callback
      operationId: authMobileCallback
      parameters:
        - in: query
          name: mobile_redirect_url
          required: true
          schema:
            type: string
          description: Allowed app deep link, e.g. `neomovies://auth/neo-id/callback`
        - in: query
          name: access_token
          required: false
          schema:
            type: string
        - in: query
          name: token
          required: false
          schema:
            type: string
        - in: query
          name: refresh_token
          required: false
          schema:
            type: string
        - in: query
          name: state
          required: false
          schema:
            type: string
      responses:
        "302":
          description: Redirect to mobile deep link with `access_token` (and optionally `refresh_token`, `state`)
        "400":
          description: Invalid or missing parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh JWT pair
      operationId: authRefresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        "200":
          description: New token pair
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenPair"
        "401":
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/auth/profile:
    get:
      tags: [Auth]
      summary: Get current profile
      operationId: getProfile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Profile"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      tags: [Auth]
      summary: Update profile
      operationId: updateProfile
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                avatar:
                  type: string
      responses:
        "200":
          description: Updated profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Profile"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/auth/refresh-tokens/revoke:
    post:
      tags: [Auth]
      summary: Revoke one refresh token
      operationId: revokeRefreshToken
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        "200":
          description: Revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/auth/refresh-tokens/revoke-all:
    post:
      tags: [Auth]
      summary: Revoke all refresh tokens
      operationId: revokeAllRefreshTokens
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Revoked all
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/auth/delete-account:
    delete:
      tags: [Auth]
      summary: Delete account and related data
      operationId: deleteAccount
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Account deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Webhooks ─────────────────────────────────────────────────────────────────
  /api/v1/webhooks/neo-id:
    post:
      tags: [Webhooks]
      summary: Neo ID webhook
      operationId: webhookNeoId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event, unified_id]
              properties:
                event:
                  type: string
                  example: user.deleted
                unified_id:
                  type: string
      responses:
        "200":
          description: Processed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Favorites ────────────────────────────────────────────────────────────────
  /api/v1/favorites:
    get:
      tags: [Favorites]
      summary: List favorites
      operationId: getFavorites
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Favorites list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Favorite"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/favorites/{kp_id}:
    post:
      tags: [Favorites]
      summary: Add favorite (idempotent)
      operationId: addFavorite
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - $ref: "#/components/parameters/MediaTypeQuery"
      responses:
        "200":
          description: Added (or already exists)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Favorites]
      summary: Remove favorite
      operationId: removeFavorite
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - $ref: "#/components/parameters/MediaTypeQuery"
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/favorites/{kp_id}/check:
    get:
      tags: [Favorites]
      summary: Check favorite status
      operationId: checkFavorite
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - $ref: "#/components/parameters/MediaTypeQuery"
      responses:
        "200":
          description: Favorite status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [isFavorite]
                        properties:
                          isFavorite:
                            type: boolean
        "400":
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Watch Later ──────────────────────────────────────────────────────────────
  /api/v1/watch-later:
    get:
      tags: [WatchLater]
      summary: List watch later items
      operationId: getWatchLaterList
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Watch later list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/WatchLaterItem"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/watch-later/{kp_id}:
    post:
      tags: [WatchLater]
      summary: Add to watch later (idempotent)
      operationId: addWatchLater
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - $ref: "#/components/parameters/MediaTypeQuery"
      responses:
        "200":
          description: Added (or already exists)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [WatchLater]
      summary: Remove from watch later
      operationId: removeWatchLater
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - $ref: "#/components/parameters/MediaTypeQuery"
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ── Sync Progress ─────────────────────────────────────────────────────────
  /api/v1/sync/progress:
    get:
      tags: [Favorites]
      summary: Get watch progress for user
      operationId: getSyncProgress
      security:
        - bearerAuth: []
      parameters:
        - name: mediaId
          in: query
          required: false
          schema:
            type: string
          description: Filter by media ID (e.g. kp_258687). Returns all if omitted.
      responses:
        "200":
          description: Progress items
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/SyncProgressItem"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    put:
      tags: [Favorites]
      summary: Upsert watch progress (last-write-wins by updatedAt)
      operationId: upsertSyncProgress
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mediaId, mediaType, progress, duration, status, updatedAt]
              properties:
                mediaId:
                  type: string
                mediaType:
                  type: string
                  enum: [movie, tv]
                season:
                  type: integer
                  nullable: true
                episode:
                  type: integer
                  nullable: true
                progress:
                  type: number
                  format: float
                duration:
                  type: number
                  format: float
                status:
                  type: string
                  enum: [watching, completed, paused, dropped]
                updatedAt:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Upsert result with saved item
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          saved:
                            type: boolean
                          item:
                            $ref: "#/components/schemas/SyncProgressItem"
                            nullable: true
        "400":
          description: Invalid body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Favorites]
      summary: Delete watch progress for a media/episode
      operationId: deleteSyncProgress
      security:
        - bearerAuth: []
      parameters:
        - name: mediaId
          in: query
          required: true
          schema:
            type: string
        - name: season
          in: query
          required: false
          schema:
            type: integer
        - name: episode
          in: query
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          description: Missing mediaId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/sync/progress/batch:
    post:
      tags: [Favorites]
      summary: Batch sync progress (push local + pull server state)
      operationId: batchSyncProgress
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required: [mediaId, mediaType, progress, duration, status, updatedAt]
                    properties:
                      mediaId:
                        type: string
                      mediaType:
                        type: string
                        enum: [movie, tv]
                      season:
                        type: integer
                        nullable: true
                      episode:
                        type: integer
                        nullable: true
                      progress:
                        type: number
                        format: float
                      duration:
                        type: number
                        format: float
                      status:
                        type: string
                        enum: [watching, completed, paused, dropped]
                      updatedAt:
                        type: string
                        format: date-time
      responses:
        "200":
          description: Batch sync result with all current server items
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          saved:
                            type: integer
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/SyncProgressItem"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/watch-later/{kp_id}/check:
    get:
      tags: [WatchLater]
      summary: Check watch later status
      operationId: checkWatchLater
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/KpIdPath"
        - $ref: "#/components/parameters/MediaTypeQuery"
      responses:
        "200":
          description: Watch later status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [isWatchLater]
                        properties:
                          isWatchLater:
                            type: boolean
        "400":
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
